
.wrapper {
  position: relative;
  margin: 200px auto;
  width: 500px;
  border: 1px solid #eee;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all ease-in-out 3ms;
}
/* 用来撑开容器，形成滚动条 */
.list-phantom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.list {
  position: absolute;
  left: 0;
  list-style: none;
  padding: 0;
  width: 100%;
}
.list > li {
  width: 100%;
}
.list > li.green-item {
  background-color: #d9fdd9;
}
.list > li.red-item {
  background-color: #ffebeb;
}
